@using WebSiteFurniture.Models.Order 
@model IEnumerable<WebSiteFurniture.Models.Product.ProductIndexVM>

@{
    ViewData["Title"] = "Продукти";
}

<center><h1>Продукти</h1></center>
<br />
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{<p>
        <a asp-action="Create">Създай нов продукт</a>
    </p>
}



<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Марка: <input type="text" name="SearchStringBrandName" />
        Категория: <input type="text" name="SearchStringCategoryName" />

        <input type="submit" value="Филтър" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.BrandId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            @if (this.User.Identity.IsAuthenticated)
            {
                <th>
                    Поръчка
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.BrandId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>

                    <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100px" />
                    @*@Html.DisplayFor(modelItem => item. Picture)*@
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount) %
                </td>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <td>
                        @await Html.PartialAsync("_OrderPartialView", new OrderConfirmVM
                        {
                          ProductId = item.Id
                        })
                    </td>
                }
                <td>
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}